<!doctype html>
<html>
<head>
    <title>Inicio de Sesión</title>
</head>
<body>
    <h2>Bienvenido a Oracle</h2>
    <center>
        <form action="/login" method="post">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="user" required><br>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="pass" required><br>
            <input type="submit" value="Iniciar Sesión">
        </form>
    </center>
</body>
</html>
